<!DOCTYPE html>
<html>

<head>
    <title>Сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/answer.css') }}">
</head>

<body>
    <div class="delete_btn">
    <input type="submit" class="button" value="Видалити">
    
    <table class="fixed_headers">
        <thead>
            <tr>
                <th>ID замітки</th>
                <th>Заголовок</th>
                <th>Текст</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for user in obj %}
            <tr>
                {% for element in user %}
                <td>
                    {{element}}
            </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>

</html>