<!DOCTYPE html>
<html>

<head>
    <title>Сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/answer.css') }}">
</head>

<body>
    <form class="delete" action="delete" id="ok" method="post">
        <input type="submit" class="button" value="Видалити">
    </form>
    <form class="back_to_index" action="index" id="ok" method="get">
        <input type="submit" class="button" value="Повернутися">
    </form>
    <table class="fixed_headers">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for user in obj %}
            <tr>
                {% for element in user %}
                <td>
                    {{element}}
            </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>

</html>